/* .container-carrito{
    height: 80vh;
    color: #266e77;
    justify-content: center;
    align-items: center;
    font-size: 50rem;
}

h2 {
    font-family:'Montserrat', sans-serif ;
    text-align: center;
    padding: 10rem;
}
a {
    justify-items: center;
    text-align: center;
}

.text-box {
    margin-left: 44vw;
	 margin-top: 42vh;
}

.miBtn:link,
.miBtn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.miBtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.miBtn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.miBtn-white {
    background-color: #266e77;
    color: white;
}

.miBtn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.miBtn-white::after {
    background-color: #fff;
}

.miBtn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.miBtn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
} */