.bg-NavBar {
   background: #326087;
}

.imgLogo {
    width: 4rem;
}

li {
    display: inline-block;
    margin: 0.5rem 1rem;
    cursor: pointer;
}

li a {
    border-radius: 0.5rem;
    padding: 0.6rem;
    color: white;    
}

.container-fluid {
    width: 70% !important;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}